@model List<CRUDEMPLEADOS.Models.Empleado>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
    <h4>Lista de empleados</h4>
    </div>
    <div class="card-body">
    <a class="btn btn-success btn-sm" asp-controller="Home" asp-action="Detalles" asp-route-IdEmpleado="0" > Crear Nuevo </a>

    <hr />

    <table class="table table-stripped" >  
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
       <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Correo</td>
                        <td>@item.Telefono</td>
                        <td>@item.Cargo.Descripcion</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Detalles" asp-controller="Home" asp-route-IdEmpleado="@item.IdEmpleado">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-IdEmpleado="@item.IdEmpleado">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody> 
    </table>


    </div>
</div>